body { background-color: #DDD;}
a {text-decoration: none;}

.pane{
	margin-left:auto; margin-right:auto;
    max-width: 750px;
    background: #F8F8F8;
    margin-top: 30px; margin-bottom: 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.pane h1 {
    font: 28px Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: 0px 0px 0px 0px;
    color: #FFF;
    background: #DD6031;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #FFF;
}

.pane h2 {
	font: 22px Arial, Helvetica, sans-serif;
	display: block;
	margin: 15px 25px;
	border-bottom: 1px dashed #666;
}

.pane h1>span {
    display: block;
    font-size: 12px;
    color: #ECE4B7;
}

.pane .menu {
    background-color: #311E10;
    height: 25px;
    display: block;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.pane .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pane .menu li.left {
    float: left;
    border-right: 1px solid #FFF;
}

.pane .menu li.right{
    float: right;
    border-left: 1px solid #FFF;
}

.pane .menu a {
    height: 20px;
    width: 150px;
    padding-top: 4px;
    display: block;
    color: #FFF;
    font-size: 14px;	
}

.pane .menu a:hover {
	background-color: #DD6031;
	border-bottom: 3px solid #311E10;
}

.pane form{
	padding: 80px 40px;
}

.pane form p{
	font-size: 16px;
	padding: 10px 0;
}

.pane form label {
	font-weight: bold;
	display: block;
}

.pane form input[type="text"]{
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.pane form .choice{
	display: block;
	margin-top: 5px;
	margin-bottom: 30px;
}

.pane .button {
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 8px 15px 8px 15px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    cursor: pointer;
}

.pane .button:hover {
    background-color:#DD6031;
}

.pane .submit {
    background-color: #EABE7C;
}

.pane .cancel {
	background-color: #CCC;
}

.pane .container {
	padding-bottom: 40px;
}

.pane .login {
    padding: 30px;
}

.pane .loginsuccess {
    text-align: center;
    font-size: 14px;
}

.pane .list { 
	list-style-type: none;
	padding: 15px;
	margin: 5px 25px;
	border: 1px solid #DDD;
	background-color: #FFF;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.pane .list li {
	padding-bottom: 10px;
}

.pane .list .rname {
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
}

.pane .list .miname {
	font-size: 16px;
	color: #000;
	margin-bottom: 5px;
	float: left
}

.pane .list .miprice {
	font-size: 16px;
	text-align:right;
}

.pane .list .midescription {
	padding-left: 10px;
	margin-bottom: 10px;
	font-style: italic;
	clear: both;
}

.pane .list .links a{ 
	/*text-align: right;*/
	color: #DD6031;
}

.pane .flash { 
	margin: 25px;
	color: #DD6031; 
	font-size: 12px;

}

