<!DOCTYPE html>
<html>
<head>
	<title>Flask project</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}" />
</head>
<body>
<div class="pane">
	<div class="header">
		<h1>Edit {{ item.name }}<span>{{ restaurant.name }}</span></h1>
	</div>
	<div class="menu">
		<ul>
			<li class="left"><a href="{{ url_for('showrestaurants') }}">Home</a></li>
			<li class="left"><a href="{{ url_for('newrestaurant') }}">New Restaurant</a></li>
			<li class="left"><a href="{{ url_for('newmenuitem', restaurant_id = restaurant.id) }}">Create new item</a></li>
		</ul>
	</div>
	<form action="{{ url_for('editmenuitem', restaurant_id = restaurant.id, menu_id = item.id) }}" method="post">
		<label>Name:</label>
		<input type="text" size="30" name="name" placeholder="{{ item.name }}" />
		<label>Description:</label>
		<input type="text" size="30" name="description" placeholder="{{ item.description }}" />
		<label>Price:</label>
		<input type="text" size="30" name="price" placeholder="{{ item.price }}" />
		<label>Course:</label>
		<div class="choice">
			<input type="radio" name="course" value="Appetizer" {% if item.course == "Appetizer" %} checked {% endif %} /> Appetizer
			<input type="radio" name="course" value="Entree" {% if item.course == "Entree" %} checked {% endif %} /> Entree
			<input type="radio" name="course" value="Dessert" {% if item.course == "Dessert" %} checked {% endif %} /> Dessert
			<input type="radio" name="course" value="Beverage" {% if item.course == "Beverage" %} checked {% endif %} /> Beverage
		</div>
		<input type="submit" value="Edit" class="button submit" />
		<a href="{{ url_for('showmenu', restaurant_id = restaurant.id) }}" class="button cancel">Cancel</a>
	</form>
</div>
</body>
</html>