<!DOCTYPE html>
<html>
<head>
	<title>Flask project</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}" />
</head>
<body>
<div class="pane">
	<div class="header">
		<h1>Edit {{ restaurant.name }}</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="{{ url_for('showRestaurants') }}">Home</a></li>
			<li><a href="{{ url_for('newRestaurant') }}">New Restaurant</a></li>
		</ul>
	</div>
	<form action="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}" method="post">
		<label>Name:</label>
		<input type="text" size="30" name="name" placeholder="{{ restaurant.name }}" />
		<input type="submit" value="Edit" class="button submit" />
		<a href="{{ url_for('showRestaurants') }}" class="button cancel">Cancel</a>
	</form>
</div>
</body>
</html>