<!DOCTYPE html>
<html>
<head>
	<title>Flask project</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<body>
<div class="pane">
	<div class="header">
		<h1>Restaurants</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="{{ url_for('showRestaurants') }}">Home</a></li>
		</ul>
	</div>
	<div class="container">
		<h2>Inicia sesión con Google</h2>
		<div class="login">
		<div id="signinButton">
			<span class="g-signin" 
				data-scope="openid email" 
				data-clientid="167248400011-rpuq2iajg8cb8vjpebrk0orpd8sl732m.apps.googleusercontent.com" 
				data-redirecturi="postmessage" 
				data-accesstype="offline" 
				data-cookiepolicy="single_host_origin" 
				data-callback="signInCallback" 
				data-approvalprompt="force">
			</span>
		</div>
		<div id="result"></div>

		<script type="text/javascript">
			function signInCallback(authResult) {
				if (authResult['code']) {
				    $('#signinButton').attr('style', 'display: none');
				    $.ajax({
				    	type: 'POST',
				    	url: '/gconnect?state={{STATE}}',
				    	processData: false,
				    	data: authResult['code'],
				    	contentType: 'application/octet-stream; charset=utf-8',
				    	success: function(result) {
					        if (result) {
					        	$('#result').html('<div class="loginsuccess">'+ result + '</br></br>Redirecting...</div>')
					        	setTimeout(function() {
					        	window.location.href = "/restaurants";}, 4000);
					    	} else if (authResult['error']) {
					    		console.log('There was an error: ' + authResult['error']);
					    	} else {
					        	$('#result').html('Failed to make a server-side call. Check your configuration and console.');
					        }
				    	}
				    });
				}
			}
		</script>
	</div>
</div>
</body>
</html>