<!DOCTYPE html>
<html>
<head>
	<title>Flask project</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}" />
</head>
<body>
<div class="pane">
	<div class="header">
		<h1>{{ restaurant.name }}</h1>
	</div>
	<div class="menu">
		<ul>
			<li class="left"><a href="{{ url_for('showRestaurants') }}">Home</a></li>
		</ul>
	</div>
	<div class="flash">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li><strong>{{ message }}</strong></li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>
	<div class="container">
		<h2>Appetizers</h2>
		{% for item in items %}
			{% if item.course == 'Appetizer' %}
			<ul class="list">
				<li>
					<div class="miname">{{ item.name }}</div>
					<div class="miprice">{{ item.price }}</div>
					<div class="midescription">{{ item.description }}</div>						
				</li>
			</ul>
			{% endif %}
		{% endfor %}
		<h2>Entrees</h2>
		{% for item in items %}
			{% if item.course == 'Entree' %}
			<ul class="list">
				<li>
					<div class="miname">{{ item.name }}</div>
					<div class="miprice">{{ item.price }}</div>
					<div class="midescription">{{ item.description }}</div>						
				</li>
			</ul>
			{% endif %}
		{% endfor %}
		<h2>Appetizers</h2>
		{% for item in items %}
			{% if item.course == 'Dessert' %}
			<ul class="list">
				<li>
					<div class="miname">{{ item.name }}</div>
					<div class="miprice">{{ item.price }}</div>
					<div class="midescription">{{ item.description }}</div>						
				</li>
			</ul>
			{% endif %}
		{% endfor %}
		<h2>Beverages</h2>
		{% for item in items %}
			{% if item.course == 'Beverage' %}
			<ul class="list">
				<li>
					<div class="miname">{{ item.name }}</div>
					<div class="miprice">{{ item.price }}</div>
					<div class="midescription">{{ item.description }}</div>						
				</li>
			</ul>
			{% endif %}
		{% endfor %}
	</div>
</div>
</body>
</html>