<!DOCTYPE html>
<html>
<head>
	<title>Flask project</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}" />
</head>
<body>
<div class="pane">
	<div class="header">
		<h1>Restaurants</h1>
	</div>
	<a href="{{ url_for('showRestaurants') }}">Home</a>
	<a href="{{ url_for('newRestaurant') }}">New Restaurant</a>

	<div class="flash">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li><strong>{{ message }}</strong></li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>
	
	{% for restaurant in restaurants %}
	<ul class = "rlist">
		<li><a href="{{ url_for('restaurantMenu', restaurant_id = restaurant.id) }}">{{ restaurant.name }}</a></li>

		<div class="rlinks">
			<a href="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}">Edit</a>
			<a href="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id) }}">Delete</a>
		</div>

	</ul>
	{% endfor %}
</div>
</body>
</html>